<%= form_with(model: medicine) do |form| %>
  <% if medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
        <% medicine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Назва %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Ціна %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :Кількість %>
    <%= form.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= form.label :Дитячий %>
    <%= form.check_box :children %>
  </div>
  
  <div class="field">
    <%= form.label :Рецепт %>
    <%= form.check_box :prescription %>
  </div>
  
  <div class="actions">
    <%= form.submit "Зберегти"%>
  </div>
  
<% end %>
