<p id="notice"><%= notice %></p>

<h1>Ліки</h1>

<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Ціна</th>
      <th>Кількість</th>
	  <th>Дитячий</th>
	  <th>Рецепт</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
		<td><%= medicine.name %></td>
        <td><%= medicine.price %></td>
        <td><%= medicine.quantity %></td>
		<td><%= medicine.children %></td>
		<td><%= medicine.prescription %></td>
        <td><%= link_to 'Показати', medicine %></td>
        <td><%= link_to 'Редагувати', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Видалити', medicine, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нові ліки', new_medicine_path %>
