<p id="notice"><%= notice %></p>

<h1>Ліки</h1>

<table>
  <thead>
    <tr>
      <th>Назва</th>
      <th>Ціна</th>
      <th>Кількість</th>
	  <th>Дитячий</th>
	  <th>Рецепт</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
		<td><%= medicine.name %></td>
        <td><%= medicine.price %></td>
        <td><%= medicine.quantity %></td>
		<td><%= medicine.children? ? 'Так' : 'Ні'  %></td>
		<td><%= medicine.prescription? ? 'Потрібний' : 'Не потрібний'  %></td>
		<% if user_signed_in? and current_user.admin? or pharmacist_signed_in? %> 
			<td><%= link_to 'Показати', medicine %></td>
			<td><%= link_to 'Редагувати', edit_medicine_path(medicine) %></td>
			<td><%= link_to 'Видалити', medicine, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? and current_user.admin? or pharmacist_signed_in? %>
	<%= link_to 'Нові ліки', new_medicine_path %>
<% end %>