<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @medicine.name %>
</p>

<p>
  <strong>Ціна:</strong>
  <%= @medicine.price %>
</p>

<p>
  <strong>Кількість:</strong>
  <%= @medicine.quantity %>
</p>

<p>
  <strong>Дитячий:</strong>
  <%= @medicine.children %>
</p>

<p>
  <strong>Рецепт:</strong>
  <%= @medicine.prescription %>
</p>

<%= link_to 'Редагувати', edit_medicine_path(@medicine) %> |
<%= link_to 'Назад', medicines_path %>
