<%= form_with(model: prescription) do |form| %>
  <% if prescription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>

      <ul>
        <% prescription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Номер %><br>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :"Закінчується" %><br>
    <%= form.date_field :exp_date %>
  </div>
  
  <div class="field">
    <%= form.label :"Ліки" %><br>
    <%= form.collection_select :medicine_id, Medicine.order(:name), :id, :name%> 
  </div>
  
  <div class="field">
    <%= form.label :"Кількість" %><br>
    <%= form.number_field :quantity %>
  </div>
  
  <div class="field">
    <%= form.label :"Дитячий"%><br>
    <%= form.check_box :children %>
  </div>
  
  <div class="field">
    <%= form.hidden_field :doctor_id, value: current_doctor.id %>
  </div>
  
  <div class="actions">
    <%= form.submit "Зберегти"%>
  </div>
  

  
<% end %>
