<p id="notice"><%= notice %></p>

<h1>Рецепти</h1>

<table>
  <thead>
    <tr>
		<th>Номер</th>
		<th>Ліки</th>
		<th>Лікар</th>
		<th>Статус</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
		<td><%= prescription.number %></td>
		<td><%= prescription.medicine.name %></td>
        <td><%= prescription.doctor.first_name + " " + prescription.doctor.last_name %></td>
        <td><%= prescription.status %></td>
        <td><%= link_to 'Показати', prescription %></td>
		<% if !prescription.used? %>
			<td><%= link_to 'Редагувати', edit_prescription_path(prescription) %></td>
			<td><%= link_to 'Видалити', prescription, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий рецепт', new_prescription_path %>
