<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @prescription.number %>
</p>

<p>
  <strong>Ліки:</strong>
  <%= @prescription.medicine.name %>
</p>

<p>
  <strong>Лікар:</strong>
  <%= @prescription.doctor.first_name + " " + @prescription.doctor.last_name %>
</p>

<p>
  <strong>Статус:</strong>
  <%= @prescription.status %>
</p>

<p>
  <strong>Закінчується:</strong>
  <%= @prescription.exp_date %>
</p>

<p>
  <strong>Кількість:</strong>
  <%= @prescription.quantity %>
</p>

<%= link_to 'Редагувати', edit_prescription_path(@prescription) %> |
<%= link_to 'Назад', prescriptions_path %>
