<p id="notice"><%= notice %></p>
<%= link_to 'Показати замовлення', [@order] %>
<h1>Ліки в замовленні</h1>

<table>
  <thead>
		<th>Рецепт</th>
		<th>Ліки</th>
		<th>Кількість</th>
  </thead>

  <tbody>
    <% @ordered_medicines.each do |ordered_medicine| %>
      <tr>
	  	<td><%= ordered_medicine.presc_number %></td>
		<td><%= ordered_medicine.medicine.name %></td>
        <td><%= ordered_medicine.quantity %></td>
        <td><%= link_to 'Показати', ordered_medicine %></td>
        <td><%= link_to 'Редагувати', edit_ordered_medicine_path(ordered_medicine) %></td>
        <td><%= link_to 'Видалити', ordered_medicine, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Додати ліки в замовлення', new_order_ordered_medicine_path %>
