<p id="notice"><%= notice %></p>

<p>
  <strong>Ім'я:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Прізвище:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Редагувати', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
