<head>

</head>
<body>
<% if !user_signed_in? && !doctor_signed_in? && !pharmacist_signed_in?%> 
	<p>Увійти як:</p>
	<%= link_to 'Користувач', new_user_session_path %>
	<%= link_to 'Лікар', new_doctor_session_path %>
	<%= link_to 'Фармацевт', new_pharmacist_session_path %>
<% end %>
<p>Меню:</p>
<%= link_to 'Користувачі', users_path %>
<%= link_to 'Замовлення', orders_path %>
<%= link_to 'Ліки', medicines_path %>
<%= link_to 'Фармацевти', pharmacists_path %>
<%= link_to 'Лікарі', doctors_path %>
<%= link_to 'Рецепти', prescriptions_path %>

</body>