<head>

</head>
<body>
<h1>Моя аптека</h1>
<%= link_to 'Користувачі', users_path %>
<%= link_to 'Замовлення', orders_path %>
<%= link_to 'Ліки', medicines_path %>
<%= link_to 'Фармацевти', pharmacists_path %>
<%= link_to 'Лікарі', doctors_path %>
<%= link_to 'Рецепти', prescriptions_path %>
</body>
