<% @status = order.id.present? ? 'pending' : 'fresh' %>
<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if user_signed_in? %>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
<% end %>


<% if pharmacist_signed_in? %>
  <div class="field">
    <%= form.hidden_field :pharmacist_id, value: current_pharmacist.id %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :"Коментар" %><br>
    <%= form.text_area :comment %>
  </div>
  
<% if pharmacist_signed_in? %>
  <div class="field">
    <%= form.label :"Статус" %>
    <%= form.select :status, [["Відмінений", "declined"], ["Завершений", "completed"]] %>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="field">
	<%= form.hidden_field :status, value: @status %>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit "Зберегти"%>
  </div>
<% end %>
