<p id="notice"><%= notice %></p>

<h1>Замовлення</h1>

<table>
   <thead>
    <tr>
		<th>Створено</th>
		<th>Користувач</th>
		<th>Фармацевт</th>
		<th>Статус</th>
		<th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
		<td><%= order.created_at.strftime('%d/%m/%Y %H:%M') %></td>
		<td><%= order.user.first_name + " " + order.user.last_name %></td>
		<% if !order.pharmacist_id.present? %>
			<td>-</td>
		<% else %>
			<td><%= order.pharmacist.first_name + " " + order.pharmacist.last_name %></td>
		<% end %>
        <td><%= order.status %></td>
        <td><%= link_to 'Показати', order_ordered_medicines_url(order) %></td>
		<% if user_signed_in? and order.fresh? or order.declined? %></td>
			<td><%= link_to 'Редагувати', edit_order_path(order) %></td>
			<td><%= link_to 'Видалити', order, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
		<% end %>
		<% if pharmacist_signed_in? and order.pending? %></td>
			<td><%= link_to 'Редагувати', edit_order_path(order) %></td>
		<% end %>	
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нове замовлення', new_order_path %>
