<p id="notice"><%= notice %></p>

<h1>Замовлення</h1>

<table>
   <thead>
    <tr>
		<th>Створено</th>
		<th>Користувач</th>
		<th>Фармацевт</th>
		<th>Статус</th>
		<th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
		<td><%= order.created_at %></td>
		<td><%= order.user.first_name + " " + order.user.last_name %></td>
        <td><%= order.pharmacist.first_name + " " + order.pharmacist.last_name %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Показати', order %></td>
        <td><%= link_to 'Редагувати', edit_order_path(order) %></td>
        <td><%= link_to 'Видалити', order, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нове замовлення', new_order_path %>
