<%= form_with(model: pharmacist) do |form| %>
  <% if pharmacist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pharmacist.errors.count, "error") %> prohibited this pharmacist from being saved:</h2>

      <ul>
        <% pharmacist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Ім'я" %><br>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :"Прізвище" %><br>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :"email" %><br>
    <%= form.text_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "Зберегти"%>
  </div>
<% end %>