<p id="notice"><%= notice %></p>

<h1>Фармацевти</h1>

<table>
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pharmacists.each do |pharmacist| %>
      <tr>
		<td><%= pharmacist.first_name %></td>
        <td><%= pharmacist.last_name %></td>
        <td><%= pharmacist.email %></td>
        <td><%= link_to 'Показати', pharmacist %></td>
        <td><%= link_to 'Редагувати', edit_pharmacist_path(pharmacist) %></td>
        <td><%= link_to 'Видалити', pharmacist, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий фармацевт', new_pharmacist_path %>
