<p id="notice"><%= notice %></p>

<h1>Лікарі</h1>

<table>
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
		<td><%= doctor.first_name %></td>
        <td><%= doctor.last_name %></td>
        <td><%= doctor.email %></td>
        <td><%= link_to 'Показати', doctor %></td>
        <td><%= link_to 'Редагувати', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Видалити', doctor, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий лікар', new_doctor_path %>
