<p id="notice"><%= notice %></p>

<p>
  <strong>Ім'я:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Прізвище:</strong>
  <%= @doctor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<%= link_to 'Редагувати', edit_doctor_path(@doctor) %> |
<%= link_to 'Назад', doctors_path %>
